[Unit]
Description=Homeberry API Service
After=network.target

[Service]
ExecStart=/home/pi/homeberryApi/homeberryApi.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
